body {
    background-color: #0D0D0D;
}

.search {
    background-color: #0D0D0D !important;
    border: solid 2px white !important;
}


.layer {
    color: white;
    opacity: 0;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.cont {
    background-color: #0D0D0D !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px;
    margin-top: 17px;
    color: #F8F6F6 !important;

}

.cont:focus {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    outline: 0px;
    border-color: aliceblue;
}

.cont::placeholder {
    text-align: center;
    color: #474f57;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.brn {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    transition: background-color 500ms, color 500ms;
}

.btn:hover {
    color: #000 !important;
    background-color: #F8F6F6;
}

.logo {
    width: 33px;

}

.nav-header {
    background-color: #f8f6f6;
    color: #0D0D0D;


}

.nav-tap {
    background-color: #0D0D0D;
}

.side-nav-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

i {
    cursor: pointer;
}

.copyrights p {
    color: rgb(153, 153, 153) !important;
}

.icons a i {
    color: #f9f6f6 !important;
}

.loading-screen{
    z-index: 99999;
    display: flex;
}


.scroll-to-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    display: none;
}

.fa-2x{
    font-size: 21px;
}

.scroll-to-top .icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color: #000;

}







.inner {
    width: 90%;
    margin-inline: auto;
}

.layer {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.layer .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.layer .date {
    display: inline-block;
    margin-bottom: 16px;
}

.layer .stars {
    margin-bottom: 8px;
}

.rate {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    padding: 10px;
    border-radius: 50%;
}

.inner img {
    transition: transform 0.5s ease-in-out;
}

.inner:hover img {
    transform: scale(1.2) rotate(10deg)
}






#sub {
    position: relative;
    transition: transform 0.3s ease;
}
#sub:hover{
    background-color: #F8F6F6 !important;
}







